.App {
  text-align: center;
}
body {
  background-color: #63738a;
}
.form {
  background-color: #f2f3f7;
  width: 50%;
  padding: 25px;
  margin: 20px auto;
}

@media screen and (max-width: 992px) {
  .form {
    width: 100%;
  }
}
